<header>
<nav class="navigatie">
    <div class="navigatie-logo">
        <div class="navigatie-foto">
            <img src="/images/logo.png" alt="">
        </div>
        <div class="navigatie-title">
            <h1>Just Do IT</h1>
        </div> 
    </div>
    <div class="login">
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</nav>
</header>