<blockquote class="navigatie-sub">
    <ul class="navigatie-list">
        <h3>Categories</h3>
        {{#each navi}}
            <li>
                <a href="{{this.url}}">{{this.text}}</a>
            </li>
        {{/each}}
        
    </ul>
     <div class="them">
        <h3>Theme</h3>
            <select id="theme--switcher">

            </select>
        </div>
</blockquote>